*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Nengo
*.class

# Mac stuff
.DS_Store

# LaTeX output
*.aux
*.bbl
*.blg
*.log
bekolay_1_31.pdf

# Let's not check in tons of data
results/
*.svg
